<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="bg-gray-50 flex h-screen justify-center items-center">
        <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
            <div class="text-center">
                <h2 class="text-base font-semibold text-pink-600 tracking-wide uppercase">Summer Bunny</h2>
                <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Server Started Successfully</p>
                <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">If you are seing this, everything just went well &#129409; </p>
            </div>
        </div>
    </div>
</body>

</html>